<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>
            function emailCheck() {
                var email = document.getElementById('email');
                var validRegex =  /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
                if(!email.value.match(validRegex)) {
                    document.getElementById('emailAlert').style.display = "block";
                }
                else {
                    document.getElementById('emailAlert').style.display = "none";
                }
            }

            function phoneCheck() {
                var phone = document.getElementById('phone');
                var phoneRegex = /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/;

                if(!phone.value.match(phoneRegex)) {
                    document.getElementById('phoneAlert').style.display = "block";
                }
                else {
                    document.getElementById('phoneAlert').style.display = "none";
                }
            }
       
    </script>
</head>
<body>
    <div class="main">
        <form action="">
            <h1 id="register">REGISTER</h1>
            <div class="user-name">
                <label for="name">User Name</label>
                <input type="text" name="user" id="name" placeholder="Web-Tech" required>
                <p  id="nameAlert">This field is empty !</p>
            </div>
    
            <div class="user-email">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="webtech@gmail.com" required onblur="emailCheck()">
                <p  id="emailAlert">This field is not email !</p>
            </div>
    
            <div class="user-phone">
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" placeholder="0123456789" required onblur="phoneCheck()">
                <p  id="phoneAlert">This field is not phone number !</p>
            </div>

            <button type="submit">Register</button>
        </form>

        <style>
            #nameAlert, #emailAlert, #phoneAlert {
                display: none;
                color: red;
            }
        </style>

    </div>
</body>
</html>