<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/chitietsp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Chi tiet san pham</title>
</head>
<body>
    <!-- header starts -->
    <header>
        <a href="#" class="logo"><i class="fas fa-utensils"></i>Food4U</a>
            
        <div id="menu-bar" class="fas fa-bars"></div>

        <nav class="navbar">
            <a href="#home">Trang chủ</a>
            <a href="#speciality">Đặc biệt</a>
            <a href="#popularity">Phổ biến</a>
            <a href="#gallery">Thực đơn</a>
            <a href="#review">Đánh giá</a>
            <a href="#order">Giỏ</a>
            <a href="">Đăng nhập</a>
        </nav>
    </header>
    <!-- header ends -->

    <!-- food -->
        <section class="food" id="food">
            <h1 class="heading">Chi tiết <span>sản phẩm</span></h1>
            <div class="box-container">
                <img src="images/g-1.jpg" alt="" class="images">

                <div class="information">
                    <h3>Humburger</h3>
                    <div class="infor">
                        <ul class="ingredient">Thành phần:
                            <li>Thịt hun khói</li>
                            <li>Xúc xích</li>
                            <li>Salad</li>
                        </ul>

                        <div class="size-container">
                            <p>Size:</p>
                            <a href="" class="size">S</a>
                            <a href="" class="size">M</a>
                            <a href="" class="size">L</a>
                        </div>



                        <div class="cost">Đơn giá: 299.000đ</div>
                    </div>

                    <div class="btn-container">
                        <a href="" class="btn" id="add-btn">Thêm vào giỏ</a>
                        <a href="" class="btn" id="buy-btn">Mua ngay</a>
                    </div>

                </div>
            </div>
        </section>
    <!-- food ends -->










    <!-- footer starts -->
    <section class="footer" id="footer">
        <a href="" class="logo">
            <i class="fas fa-utensils"></i>Food4U
            <h3>Hân hạnh được phục vụ <span>bạn!</span></h3>
        </a>
        <div class="content">
            <div class="website">
                <h1>Our <span>website:</span> </h1>
                <a href="" class="btn">facebook</a>
                <a href="" class="btn">instagram</a>
                
            </div>
        </div>
    </section>
    <!-- footer ends -->

    <!-- js file link -->
    <script src="js/scripts.js"></script>
</header>
</body>
</html>