<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./mvc/Views/Vu/css/style.css">
    <link rel="stylesheet" href="./mvc/Views/Vu/css/header.css">
    <title>Document</title>
</head>
<body>
    <!-- header starts -->
    <header>
        <a href="#" class="logo"><i class="fas fa-utensils"></i>Food4U</a>
            
        <div id="menu-bar" class="fas fa-bars"></div>
    
        <nav class="navbar">
            <a href="#home">Trang chủ</a>
            <a href="#speciality">Đặc biệt</a>
            <a href="#popularity">Phổ biến</a>
            <a href="#gallery">Thực đơn</a>
            <a href="#review">Đánh giá</a>
            <a href="#order">Giỏ</a>
            <a href="">Đăng nhập</a>
        </nav>
    </header>
    <!-- header ends -->
    
</body>
</html>
