H1 {
    text-align: center
}

P {
    margin: 0.25in;
    border: 0.25in solid black;
    padding: 0.25in;
    background: URL(images/boards.jpg)
}

BODY {
    background: URL(images/bricks.jpg)
}

.banner {
    background: url(images/bond-paper.jpg)repeat-x;
    font-size: 50pt;
    font-family: Arial Rounded MT Bold
}