.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.head-cart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.logo{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.logo a{
    text-decoration: none;
    color: chocolate;
}
.logo a:hover{
    color: lightsalmon;
}
.logo span{
    color: chocolate;
}
.search {
    flex: 2;
    text-align: center;
}
#search-text{
    border: 0.5px solid lightsalmon;
    border-radius: 5px;
    width: 300px;
    height: 35px;
}
.search-area button {
    border: 0.5px solid lightsalmon;
    border-radius: 5px;
    height: 35px;
}
.search-area button:hover{
    color: lightsalmon;
}

.wrapper-main {
    background-color: #fafafa;
    border: 1px solid #f1eded;
}
.main{
    background-color: #fafafa;
}
.header-bill {
    display: flex;
    background-color: white;
    margin: 20px 0px 20px;
    height: 35px;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px lightgray;
}
.bill-items {
    display: flex;
    background-color: white;
    margin: 20px 0px 20px;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px lightgray;
}
#bill-checked:checked{
    background-color: red;
}
.product-img{
    flex: 3;
}
.product-img img{
    width: 35%;
}
.product-info{
    flex: 1;
}
.quantity {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.quantity button{
    height: fit-content;
    background-color: rgba(255, 160, 122, 0.5);
    border: 0.5px solid grey;
    flex: 1;
}
.quantity button:hover{
    border: 0.5px solid lightsalmon;
}
.quantity p{
    flex: 1;
}
.delete button{
    border: 0.5px solid grey;
    background-color: rgba(255, 160, 122, 0.5);
}
.delete button:hover{
    border: 0.5px solid lightsalmon;
    color: brown;
}
.bill-form{
    margin: 50px 0px 20px;
    background-color: #ffff;
    text-align: center;
}

.total-bill{
    background-color: white;
    margin: 20px 0px 20px;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px lightgray;
}
.total-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.select-all{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.total-cost{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}
.total-bill button{
    flex: 0.5;
    height: 40px;
    margin-right: 20px;
    border: 0.5px solid lightsalmon;
    color: brown;
    background-color: rgba(255, 160, 122, 0.5);
}

.total-bill button:hover{
    background-color: lightsalmon;
}

#bill-form{
    background-color: rgb(240, 226, 180);
    width: 500px;
    height: 400px;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px lightgray;
    border-radius: 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
}
.bill-form form{
    width: 350px;
}
.form-item{
    margin: 20px 0px 10px;
    display: flex;
    justify-content: space-between;
}
.form-item input{
    width: 200px;
}
.submit{
    border: 0.5px solid lightsalmon;
    color: brown;
    background-color: rgba(255, 160, 122, 0.5);
}
.submit:hover {
    background-color: lightsalmon;
}
.bill-logo{
    text-decoration: none;
    color: #e93636;
}